body {
    background-color:peachpuff;
}
h1 { 
    color: purple;
    font-size: 2em;
    border: 5px solid purple;
    padding:20Px;
    margin-left: 400px;
    margin-right: 400px;
    border:rigid;
    text-align:center;
    border-radius: 10px;
    font-family:cursive;
    
}
h2, h3{color: purple;
    font-size: 2em;}


#navbar ul {
    padding: 5px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;

}

#navbar ul li { 
    display:inline-block;
}
#navbar ul li a {
    text-decoration:underline;
    padding: .2em, 1em;


}
#footer {
    background-color:white;
    margin: 10px;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    margin-left: 400px;
    margin-right: 400px;

}
    


