body {
    
    background-color:peachpuff;
}
h1 { 
    color: purple;
    font-size: 2em;
    border: 5px solid purple;
    padding:20Px;
    margin-left: 400px;
    margin-right: 400px;
    border:rigid;
    text-align:center;
    border-radius: 10px;
    font-family:cursive;
    
}
h2, h3{color: purple;
    font-size: 2em;}

.button {
    background:pink;
    text-align:center;
    height: 30px;
    border: 1px solid;
    padding:0 20px;
    margin-bottom: 30px; 
    margin-right:30px ;
}
nav ul {
    padding: 5px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
 
}

nav li { 
    display:inline;
}
nav  a {
    text-decoration:underline;
    padding: .2em, 1em;


}
#footer {
    background-color:white;
    margin: 10px;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    margin-left: 400px;
    margin-right: 400px;

}
   #footer li{ 
       display:inline;} 


